<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		{% block body %}
			{# {{dump(resultCsv ~ ' new entities created')}}
			<form class="form-horizontal" action="" method="post" name="frmCSVImport" id="frmCSVImport" enctype="multipart/form-data">
				<div class="input-row">
					<label class="col-md-4 control-label">Choose CSV File</label>
					<input type="file" name="file" id="file" accept=".csv">
					<button type="submit" id="submit" name="import" class="btn-submit">Import</button>
					<br/>
				</div>
			</form> #}
			<form action="" name="annonce" id="annonce" method="post" enctype="multipart/form-data">
				<div>
					<label for="title">title</label>
					<input type="text" name="title" id="title">
				</div>
				<div>
					<label for="description">description</label>
					<input type="text" name="description" id="description">
				</div>
				<div>
					<label for="user">user</label>
					<input type="text" name="user" id="user">
				</div>
				<div>
					<label for="location">location</label>
					<input type="text" name="location" id="location">
				</div>
				<div>
					<label for="image">File to upload:</label>
					<input type="file" name="image" id="image">
				</div>
				<button type="submit" name="submit">Send</button>
			</form>
			{{dump(formulaire ~ ' yes')}}
			{# {{dump(Location)}}
			{% for l in Location %}
				<p>{{l.city.name}}</p>
				<p>{{l.zip.zip}}</p>
			{% endfor %} #}
		{% endblock %}
	</body>
</html>
