<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		{% block body %}
			{# {{dump(resultCsv ~ ' new entities created')}} #}
			{# <form class="form-horizontal" action="" method="post" name="frmCSVImport" id="frmCSVImport" enctype="multipart/form-data">
				<div class="input-row">
					<label class="col-md-4 control-label">Choose CSV File</label>
					<input type="file" name="file" id="file" accept=".csv">
					<button type="submit" id="submit" name="import" class="btn-submit">Import</button>
					<br/>
				</div>
			</form> #}
			<form action="" name="uploadImage" id="uploadImage" method="post" enctype="multipart/form-data">
				<div>
					<label for="fileImage">File to upload:</label>
					<input type="file" name="fileImage" id="fileImage">
				</div>
				<button type="submit" name="importImage">Send</button>
			</form>
			{{dump(resultImage ~ ' yes')}}
			{# {{dump(Location)}}
			{% for l in Location %}
				<p>{{l.city.name}}</p>
				<p>{{l.zip.zip}}</p>
			{% endfor %} #}
		{% endblock %}
	</body>
</html>
